<a href="https://colab.research.google.com/github/raflidzaky/about-me/blob/main/Bicycles_Sales_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preparation

## Input Data

In [ ]:
# Input the data
from google.colab import files
uploaded = files.upload()

Saving transactions(1).csv to transactions(1).csv

In [ ]:
# Push the data
import io
import pandas as pd
df = pd.read_csv(io.BytesIO(uploaded['transactions(1).csv']), delimiter = ';')

In [ ]:
# Read the data
import pandas as pd
df1 = pd.read_csv('transactions(1).csv', delimiter = ';')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  object
 4   online_order             19640 non-null  object
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  object
 11  standard_cost            19803 non-null  object
 12  product_first_sold_date  19803 non-null  float64
dtypes: float64(1), int64(3), object(9)
memory usage: 2.0+ MB

In [ ]:
# Search up N/A Values
print(df1.isnull().sum())

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [ ]:
# Print the table
df1.head(10000)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,25/02/2017,False,Approved,Solex,Standard,medium,medium,"71,49","$53,62",41245.0
1,2,3,3120,21/05/2017,True,Approved,Trek Bicycles,Standard,medium,large,"2091,47","$388,92",41701.0
2,3,37,402,16/10/2017,False,Approved,OHM Cycles,Standard,low,medium,"1793,43","$248,82",36361.0
3,4,88,3135,31/08/2017,False,Approved,Norco Bicycles,Standard,medium,medium,"1198,46","$381,10",36145.0
4,5,78,787,01/10/2017,True,Approved,Giant Bicycles,Standard,medium,large,"1765,3","$709,48",42226.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,36,1457,03/03/2017,NaN,Approved,Solex,Standard,low,medium,"945,04","$507,58",35052.0
9996,9997,43,2268,06/02/2017,True,Approved,Solex,Standard,medium,medium,"1151,96","$649,49",36498.0
9997,9998,50,3046,03/03/2017,False,Approved,WeareA2B,Standard,medium,small,"175,89","$131,92",37668.0
9998,9999,7,165,14/04/2017,True,Approved,Trek Bicycles,Road,low,medium,"980,37","$234,43",40649.0
9999,10000,1,97,02/01/2017,False,Approved,Giant Bicycles,Standard,medium,medium,"1403,5","$954,82",33549.0

## Data Cleaning

In [ ]:
# Drop the rows containing null value
df2 = df1.dropna(axis = 0)
df2.isnull().sum()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19445 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19445 non-null  int64
 1   product_id               19445 non-null  int64
 2   customer_id              19445 non-null  int64
 3   transaction_date         19445 non-null  object
 4   online_order             19445 non-null  object
 5   order_status             19445 non-null  object
 6   brand                    19445 non-null  object
 7   product_line             19445 non-null  object
 8   product_class            19445 non-null  object
 9   product_size             19445 non-null  object
 10  list_price               19445 non-null  object
 11  standard_cost            19445 non-null  object
 12  product_first_sold_date  19445 non-null  float64
dtypes: float64(1), int64(3), object(9)
memory usage: 2.1+ MB

In [ ]:
# Convert standard cost column value into float
  ## Remove the dollar sign
df2['standard_cost'] = df2['standard_cost'].str.replace("$", "")
df2['standard_cost'] = df2['standard_cost'].str.replace(".", "")
  ## Convert the decimal sign from ',' to '.'
df2['standard_cost'] = df2['standard_cost'].str.replace(",", ".").astype('float')

# Convert list price column value into float
  ## Replace ',' to '.'
df2['list_price'] = df2['list_price'].str.replace(',', '.')
df2['list_price'] = df2['list_price'].astype('float')

# Exploratory Data Analysis

## Product Sold

In [ ]:
# Overall Product Sold
df3 = df2['brand'].loc[df2['order_status'] != 'Cancelled']

for brand in df3.unique():
    product_sold = df3.loc[df2['brand'] == brand].count()
    print(brand, product_sold)
    percentage = product_sold / df3.count()
    print(brand, percentage)
    print('--------')

print("=====================")
# Overall Product Cancelled
df4 = df2['brand'].loc[df2['order_status'] == 'Cancelled']

for brand in df4.unique():
    product_cancelled = df4.loc[df2['brand'] == brand].count()
    print(brand, product_cancelled)
    percentage = product_cancelled / df4.count()
    print(brand, percentage)
    print('--------')

Solex 4128
Solex 0.2141856483162974
--------
Trek Bicycles 2906
Trek Bicycles 0.15078088517615318
--------
OHM Cycles 2967
OHM Cycles 0.15394593472733875
--------
Norco Bicycles 2840
Norco Bicycles 0.14735640533388678
--------
Giant Bicycles 3217
Giant Bicycles 0.16691744928137808
--------
WeareA2B 3215
WeareA2B 0.16681367716494577
--------
=====================
WeareA2B 30
WeareA2B 0.1744186046511628
--------
Giant Bicycles 27
Giant Bicycles 0.1569767441860465
--------
Norco Bicycles 23
Norco Bicycles 0.13372093023255813
--------
Solex 41
Solex 0.23837209302325582
--------
Trek Bicycles 25
Trek Bicycles 0.14534883720930233
--------
OHM Cycles 26
OHM Cycles 0.1511627906976744
--------

## Transaction Behavior

In [ ]:
# Compare online or offline behavior
online = df2['online_order'].loc[df2['online_order'] == True]
offline = df2['online_order'].loc[df2['online_order'] == False]

print(f'those who do online shopping: {online.count()}')
print(f'those who do offline shopping: {offline.count()}')

those who do online shopping: 9739
those who do offline shopping: 9706

In [ ]:
# Lets find out what product class of each brand that got cancelled
cancelled_brands = df2[['brand','product_class']].loc[df2['order_status'] == 'Cancelled']
cancelled_brands_counts = cancelled_brands.value_counts(ascending=True)
print(cancelled_brands_counts)

print("=============")
approved_brands = df2[['brand','product_class']].loc[df2['order_status'] == 'Approved']
approved_brands_counts = approved_brands.value_counts(ascending=True)
print(approved_brands_counts)

brand           product_class
Giant Bicycles  low               2
OHM Cycles      low               2
WeareA2B        low               3
Solex           low               3
Norco Bicycles  high              4
                low               4
Trek Bicycles   low               4
                high              6
OHM Cycles      high              7
Solex           high              8
Giant Bicycles  high              9
Norco Bicycles  medium           15
Trek Bicycles   medium           15
Giant Bicycles  medium           16
OHM Cycles      medium           17
WeareA2B        medium           27
Solex           medium           30
dtype: int64
=============
brand           product_class
Giant Bicycles  low               190
Trek Bicycles   high              312
WeareA2B        low               322
Solex           low               397
                high              547
Norco Bicycles  high              554
OHM Cycles      low               597
Norco Bicycles  low               613
OHM Cycles      high              747
Giant Bicycles  high              758
Trek Bicycles   low               769
OHM Cycles      medium           1623
Norco Bicycles  medium           1673
Trek Bicycles   medium           1825
Giant Bicycles  medium           2269
WeareA2B        medium           2893
Solex           medium           3184
dtype: int64

In [ ]:
# Let's see what transactions kind got cancelled
cancelled = df2['online_order'].loc[df2['order_status'] == 'Cancelled']
transactions_mode_cancelled = cancelled.value_counts()
print(transactions_mode_cancelled)

print('-------')
# How each brand's transaction?
transactions_cancelled = df2[['online_order','brand']].loc[df2['order_status'] == 'Cancelled']
transactions_cancelled = transactions_cancelled.value_counts(ascending = True)
print(transactions_cancelled)

True     97
False    75
Name: online_order, dtype: int64
-------
online_order  brand
False         Trek Bicycles      4
True          WeareA2B           8
False         OHM Cycles         9
              Norco Bicycles    11
True          Norco Bicycles    12
              Giant Bicycles    13
False         Giant Bicycles    14
              Solex             15
True          OHM Cycles        17
              Trek Bicycles     21
False         WeareA2B          22
True          Solex             26
dtype: int64

## Pricing

In [ ]:
# What product that has highest price
## By Average
brand = ['Solex', 'Giant Bicycles', 'Trek Bicycles', 'OHM Cycles', 'WeareA2B', 'Norco Bicycles']
product_class = ['low', 'medium', 'high']

for i in brand:
    print(i)
    brand_data = df2[df2['brand'] == i]  # Filter data by its brand
    average_prices = brand_data[['product_class','list_price']].groupby('product_class').mean()  # Count the mean
    print(average_prices)
    print('==============')

Solex
                list_price
product_class
high           1209.693225
low            1101.066525
medium         1022.632032
==============
Giant Bicycles
                list_price
product_class
high           1382.790652
low             590.260000
medium         1239.949260
==============
Trek Bicycles
                list_price
product_class
high            436.123962
low            1041.492768
medium         1375.547652
==============
OHM Cycles
                list_price
product_class
high            906.321777
low            1058.727446
medium          986.260963
==============
WeareA2B
                list_price
product_class
low             892.038954
medium         1305.737425
==============
Norco Bicycles
                list_price
product_class
high           1188.169964
low             665.346953
medium          912.586736
==============

In [ ]:
# For comparison, I also display central tendency of prices by its median
brand = ['Solex', 'Giant Bicycles', 'Trek Bicycles', 'OHM Cycles', 'WeareA2B', 'Norco Bicycles']
product_class = ['low', 'medium', 'high']

for i in brand:
    print(i)
    brand_data = df2[df2['brand'] == i]
    average_prices = brand_data[['product_class','list_price']].groupby('product_class').median()
    print(average_prices)
    print('==============')

Solex
               list_price
product_class
high              1024.66
low                945.04
medium            1071.23
==============
Giant Bicycles
               list_price
product_class
high              1179.00
low                590.26
medium            1403.50
==============
Trek Bicycles
               list_price
product_class
high               495.72
low                980.37
medium            1469.44
==============
OHM Cycles
               list_price
product_class
high               227.88
low               1073.07
medium             912.52
==============
WeareA2B
               list_price
product_class
low                642.31
medium            1362.99
==============
Norco Bicycles
               list_price
product_class
high              1148.64
low                688.63
medium            1036.59
==============